h3 {
   color: aqua;
}
th {
    font-weight: 800; background-color: blueviolet;
}
table{
    font-family: Arial, Helvetica, sans-serif; 
    border-collapse: collapse; border-width: 1px;
    border-color: blueviolet;
}